@import "obnul";

/*font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
*/



$font_h6: 700 10px 'Roboto', sans-serif;
$font_h1: 300 48px 'Quicksand', sans-serif;
$font_p: 500 15px 'Roboto', sans-serif;
$font_h1_part: 400 48px 'Quicksand', sans-serif;
$font_p_part: 500 18px 'Quicksand', sans-serif;
$font_four_h1: 500 24px 'Quicksand', sans-serif;
$font_four_p: 500 10px 'Roboto', sans-serif;
$font_main_h1: 400 36px 'Quicksand', sans-serif;
$font_main_p: 400 14px 'Roboto', sans-serif;


%circle_img_4{
  width: 69px;
  height: 69px;
  border-radius: 50%;
  background-color: #F1F5FF;
  margin: 0 auto;
}

%triangle{
  width: 0;
  height: 0;
  border-left: 8px solid #fff;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

%circle_search {
  background: url("img/three_img/circle_search.png") no-repeat;
  width: 65px;
  height: 65px;
  display: inline-block;
  position: absolute;
}

@mixin part_one_two($f, $lh, $ls){
  font: $f;
  line-height: $lh;
  letter-spacing: $ls;
}


@mixin fonts_h6($f, $c, $ls, $tt){
  font: $f;
  color: $c;
  letter-spacing: $ls;
  text-transform: $tt;
}
@mixin fonts_h1($f, $c){
  font: $f;
  color: $c;
}
@mixin fonts_p($f, $c){
  font: $f;
  color: $c;
}

.container_all{
  max-width: 960px;
  margin: 0 auto;
}

.slick-dots li button:before {
  border: 5px solid #5E81FF;
  border-radius: 50%;
  content: '' !important;
  width: 0 !important;
  height: 0 !important;
}
.nav_header_up{
  position: fixed;
  z-index: 50;
  background-color: #fff;
  width: 100%;
  padding: 0 110px;
  @media (max-width: 758px) {
      padding: 0 50px;
    }

}
.nav_header {
  margin: 0 auto;


  @media (max-width: 768px) {
    body.lock {
      overflow: hidden;
    }
  }

  nav {
    display: grid;
    grid-template: 1fr/minmax(auto, 50%) minmax(auto, 25%) minmax(auto, 25%);
    @media (max-width: 1110px) {
      grid-template: 1fr/minmax(auto, 30%);
    }
    .header_burger{
      display: none;
    }
    .nav_left {
      display: grid;
      grid-auto-flow: column;
      margin: 0;
      align-items: center;
      @media (max-width: 768px) {
          grid-template-columns: 50px;
        }
      @media (max-width: 884px) {
        //body.lock{
        //  overflow: hidden;
        //}
        .nav_left{
          grid-template-columns: 50px;
        }
        .header_burger {
          display: block;
          position: relative;
          width: 30px;
          height: 20px;
          z-index: 3;

          span {
            position: absolute;
            left: 0;
            top: 9px;
            width: 100%;
            height: 2px;
            background-color: blue;
            transition: all 0.3s ease 0s;
          }
        }
        .header_burger:before,
        .header_burger:after {
          content: '';
          position: absolute;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: blue;
          transition: all 0.3s ease 0s;
        }
        .header_burger:before {
          top: 0;
        }
        .header_burger:after {
          bottom: 0;
        }
        .header_burger.active:before{
          transform: rotate(45deg);
          top: 9px;
        }
        .header_burger.active:after{
          transform: rotate(-45deg);
          bottom: 9px;
        }
        .header_burger.active span{
          transform: scale(0);
        }
        .ul_nav_left{
            position: fixed;
            top: -100%;
            left: 0;
            overflow: auto;
            width: 100%;
            height: 100%;
            background-color: #b6cef9;
            padding: 70px 0 0 0;
        }
        .ul_nav_left.active{
          top: 0;
          transition: all 0.3s ease 0s;
          display: block;
          padding: 100px 0 0 30px;
          li{
            font-size: 30px;
            margin: 0 0 30px 0;
          }
        }
      }
    }

    .ul_nav_left {
      display: grid;
      grid-auto-flow: column;
      justify-items: start;
      margin: 0;
      align-items: center;
      padding: 0;


      li {
        font: 500 12px 'Quicksand', sans serif;
        letter-spacing: 0.05em;
        color: #697CA6;
        text-shadow: 0 0 5px #E6E6E6;
        margin: 0 20px 0 0;

        a {
          text-decoration: none;
        }

        a:hover {
          color: #5E81FE;
          font-weight: 700;
        }
      }
    }
    .header_logo {
      width: 26px;
      height: 26px;
      border-radius: 50%;
      background-color: #5E81FE;
      @media (max-width: 1120px) {
        margin: 0 10px 0 0;
      }
    }

    .nav_right {
      grid-column: 3/4;
      margin: 25px 0 25px 0;
      @media (max-width: 768px) {
        margin: 16px 0;
      }

      .ul_nav_right {
        display: grid;
        grid-auto-flow: column;
        justify-items: end;
        margin: 0;
        padding: 0;


        li{

          i {
            color: #9B9B9B;
          }

          i:hover {
            color: #5E81FE;
          }

          .nav_right_btn {
            font: 700 13px 'Quicksand', sans-serif;
            color: #3A79FF;
            padding: 13px 16px;
            background-color: #D2E1FF;
            margin-top: -11px;
          }
        }
      }
    }
  }
}
.slick-slider{
  padding: 82px 0 0 0;
  @media (max-width: 768px) {
    padding: 64px 0 0 0;
  }
}
video{
  width: 100%;
  height: 100%;
}
.container_content {
  position: absolute;
  top: 30%;
  left: 50%;
  text-align: center;
  width: 590px;
  transform: translate(-50%, -30%);
  @media (max-width: 481px) {
    width: 250px;
  }
  @media (min-width: 482px) and (max-width: 636px) {
    width: 430px;
  }

  h6 {
    @include fonts_h6($font_p, #3D4F9F, 0.1em, uppercase);
    @media (max-width: 481px) {
      font-size: 7px;
    }
    @media (min-width: 482px) and (max-width: 636px) {
      font-size: 10px;
    }
  }

  h1 {
    max-width: 610px;
    @include fonts_h1($font_h1, #3D4F9F);
    margin: 16px 0 28px 0;
    @media (max-width: 1024px) {
      font-size: 37px;
    }
    @media (max-width: 481px) {
      font-size: 17px;
      margin: 4px 0 10px 0
    }
    @media (min-width: 482px) and (max-width: 636px) {
      font-size: 27px;
      margin: 6px 0 12px 0
    }

    .one_bold {
      font-weight: bold;
    }
  }

  p {
    max-width: 590px;
    @include fonts_p($font_main_p, #3D4FA0);
    line-height: 24px;
    letter-spacing: 0.03em;
    font-size: revert;
    @media (max-width: 481px) {
      line-height: 13px;
      font-size: 8px;
    }
    @media (min-width: 482px) and (max-width: 636px) {
      line-height: 17px;
      font-size: 14px;
    }
  }

  .video_btn1, .video_btn2, .video_btn3 {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #FFFFFF;
    margin-top: 40px;
    @media (min-width: 482px) and (max-width: 636px) {
      width: 34px;
      height: 34px;
      margin-top: 18px;
    }
    @media (max-width: 481px) {
      width: 30px;
      height: 30px;
      margin-top: 10px;
    }


  &.play {
    .videoIcon {
    display: block;
    // width: 0;
    // height: 0;
    border-left: 15px solid #5E81FF;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    margin-left: 20px;
    @media (max-width: 481px) {
      border-left: 10px solid #5E81FF;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      margin-left: 12px;
    }
    @media (min-width: 482px) and (max-width: 636px) {
      border-left: 10px solid #5E81FF;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      margin-left: 14px;
    }
  }
}

  &.pause {
    .videoIcon{
      display: block;
      position: relative;
      width: 16px;
      height: 18px;
      margin: 0 auto;

      &:before,
      &:after {
        content: '';
        background-color: #5E81FF;
        height: 100%;
        width: 5px;
        position: absolute;
        top: 0;
        transition: all 0.3s ease 0s;
      }

      &:after {
        left: 0;
      }

      &:before {
        right: 0;
      }
    }
  }
}
}


ul.slick-dots{
  position: absolute;
  bottom: 10%;
  left: 0;
}
.slick-initialized .slick-slide {
  position: relative;
}
.items_logos{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0;
  justify-items: center;
  @media (max-width: 768px) {
    grid-template: repeat(2, 1fr)/repeat(3, 1fr);
    justify-items: normal;
  }
  @media (max-width: 425px) {
    display: block;
    justify-items: normal;
  }
  .list_logos{
    margin: 60px 0;
    @media (max-width: 768px) {
      margin: 40px 0;
    }
  }
  .logos_1, .logos_2, .logos_3{
    @media (max-width: 768px) {
      display: grid;
      justify-items: center;
    }
  }
  .logos_4{
    filter: brightness(0.7) opacity(0.3) grayscale(0.4);
    @media (max-width: 768px) {
      display: grid;
      justify-items: end;
      @media (max-width: 425px) {
        display: grid;
        justify-items: center;
      }
    }
  }
  .logos_5{
    @media (max-width: 768px) {
      grid-area: 2/3;
      @media (max-width: 425px) {
        display: grid;
        justify-items: center;
      }
    }
  }
}

.fon_color {
  background-color: #F5F8FF;

}

.section_main_one {
  padding-top: 208px;
  position: relative;
  @media (max-width: 768px) {
    padding-top: 100px;
  }
.container_all{
  @media (max-width: 768px) {
    margin: 0 30px;
  }
}
  .container_mini {
    max-width: 405px;
    @media (max-width: 768px) {
      max-width: 605px;
    }

    h6 {
      @include fonts_h6($font_h6, #3D4F9F, 0.1em, uppercase);
      margin: 0 0 27px 0;
    }

    h1 {
      margin: 16px 0 28px 0;
      font: 300 36px 'Quicksand', sans-serif;
      color: #3D4F9F;

      span {
        font-weight: 700;
        font-size: 38px;
      }
    }

    p {
      @include fonts_p($font_p, #3D4F9F);
      line-height: 24px;
      margin: 27px 0 47px 0;
      letter-spacing: 0.03em;
      text-align: justify;
    }

    .blue_btn {
      color: #fff;
      background-color: #4C85FF;
      padding: 13px 25px 13px 12px;
      border-radius: 5px 0 0 5px;
      font: 700 13px 'Quicksand', sans-serif;

      .triangle_on_button {
        @extend %triangle;
        display: block;
        margin: -11px 0px 3px 87px;
      }
    }

    .transparent_btn {
      color: #ADB4D2;
      background-color: transparent;
      padding: 12px 24px;
      border-radius: 0 5px 5px 0;
      border: 1px solid #ADB4D2;
      margin: 47px 0 216px -4px;
      font: 500 13px 'Quicksand', sans-serif;
      @media (max-width: 768px) {
        margin: 47px 0 116px -4px;
      }
    }
  }

  .right_main_img {
      position: absolute;
    top: 20%;
    left: 51%;
    @media (max-width: 768px) {
      position: inherit;
    }

    img{
      @media (max-width: 768px) {
        margin: 0 auto;
      }
    }
    }
    }




.section_main_two {
  .container_img {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    .two_pic{
      position: absolute;
      bottom: 85px;
      left: 0;
      @media (max-width: 768px) {
        display: none;
      }
    }.one_pic{
      position: absolute;
      top: -10px;
      right: 0;
           @media (max-width: 768px) {
             display: none;
           }
    }
    .container_all {
      .main_two_text {
        text-align: center;

        p {
          @include fonts_h6($font_h6, #3D4F9F, 0.1em, uppercase);
          margin: 162px 0 20px 0;
          @media (max-width: 768px) {
            margin: 100px 0 20px 0;
          }
        }

        h1 {
          font: 700 24px 'Quicksand', sans-serif;
          color: #3D4F9F;
          line-height: 30px;
          margin-bottom: 92px;
        }
      }

      .table_grid {
        display: grid;
        column-gap: 67px;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        @media (max-width: 768px) {
          column-gap: 0;
          margin: 0 30px;
          row-gap: 55px;
          justify-items: center;
          grid-template: repeat(2, 1fr)/ 1fr 1fr;
        }
        .card{
          border: none;
          position: relative;
          @media (max-width: 768px) {
            max-width: 250px;
          }
            &:nth-child(-n+3):after{
              content: '';
              background-color: #ADB3CB;
              position: absolute;
              top: 68%;
              right: -53px;
              width: 28px;
              height: 1px;
              @media (max-width: 768px) {
                display: none;
              }
          }
          .circle_img {
            @extend %circle_img_4;

            .circle_img_home {
              margin: 21px auto;
            }

            .circle_img_folder {
              margin: 25px auto;
            }

            img {
              margin: 24px auto;
            }
          }

          h1 {
            font: 700 14px "Open Sans", sans-serif;
            text-align: center;
            color: #4074F8;
            margin: 33px 0 25px 0;
          }

          p {
            font: 500 11px "Open Sans", sans-serif;
            text-align: center;
            color: #ADB3CB;
            line-height: 19px;
            margin: 0;
          }

        }
      }

      .three_btn {
        display: flex;
        justify-content: center;
        padding: 92px 0 171px 0;
        @media (max-width: 768px) {
          padding: 90px 0 100px 0;
        }

        .red_btn{
          color: #D43F3F;
          padding: 13px 15px;
          background-color: #FFD7D7;
          border-radius: 2px;
          font: 700 13px "Quicksand", sans serif;
        }
        .three_btn_or{
          color: #ADB3CB;
          font: 400 13px "Open Sans", sans-serif;
          margin: 10px 0;
          padding: 4px 40px;
          position: relative;
          &:after{
            content: '';
            background-color: #ADB3CB;
            position: absolute;
            top: 13px;
            left: 13px;
            width: 15px;
            height: 1px;
          }
          &:before{
            content: '';
            background-color: #ADB3CB;
            position: absolute;
            top: 13px;
            right: 13px;
            width: 15px;
            height: 1px;
          }
        }
        .blue_btn{
          color: #3A79FF;
          padding: 13px 15px;
          background-color: #D2E1FF;
          border-radius: 2px;
          font: 700 13px "Quicksand", sans serif;
        }
      }
    }
  }
}

.section_main_three {
  .main_three_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: 450px) {
      grid-template-columns: auto;
    }
    .part_one, .part_two {

      h1 {
        @include part_one_two($font_h1_part, 83px, 0.03em);
      }

      p {
        @include part_one_two($font_p_part, 23px, 0.03em);
      }
      .fa{
        font-size: 60px;
        margin: 60px 90px 24px 90px;
      }
      @media (max-width: 425px) {
        h1 {
          @include part_one_two($font_h1_part, 83px, 0.03em);
        }

        p {
          @include part_one_two($font_p_part, 23px, 0.03em);
        }
        .fa{
          margin: 0 0 24px 0;
        }
      }
    }
    .part_one {
      background-color: #5E80FF;
      display: grid;
      justify-items: end;
      @media (max-width: 425px) {
        padding: 30px 0 0 30px;
        justify-items: start;
      }
      .fa-pie-chart{
        color: #fff;
      }
      h1, p {
        color: #fff;
        margin: 0 90px 0 0;
        text-align: right;
      }
      p{
        margin-bottom: 66px;
        text-align: right;
        @media (max-width: 425px) {
         text-align: left;
        }
      }
    }

    .part_two {
      background-color: #E0E9FF;
      display: grid;
      @media (max-width: 425px) {
        padding: 30px 0 0 30px;
        justify-items: start;
      }
      .fa-users{
        color: #5E80FF;
      }
      h1, p {
        color: #5E80FF;
        margin: 0 0 0 90px;
        @media (max-width: 425px) {
          margin: 0;
        }
      }
      p{
        margin-bottom: 66px;
      }
    }
  }
}

.main_four {
  background-color: #F5F8FF;
  overflow: hidden;
  padding-bottom: 146px;
  @media (max-width: 837px) and (min-width: 768px) {
    padding-bottom: 95px;
  }
  @media (max-width: 767px){
    padding-bottom: 85px;
  }

  .main_four_slider.slick-slider{
    padding: 0;
  }

  ul.slick-dots {
    position: absolute;
    bottom: -100px;
    left: 0;
    @media (max-width: 837px) and (min-width: 768px) {
      bottom: -80px;
    }
    @media (max-width: 768px) {
      bottom: -72px;
    }

  }
  .main_four_slider {
    position: relative;
  }
  .main_four_slider .slick-next {
    background: url(img/three_img/right.png) no-repeat;
    right: 6%;
    position: absolute;
    top: 50%;
    width: 27px;
    height: 19px;
    @media (max-width: 1220px) {
      right: 4%;
    }
    @media (max-width: 1120px) {
      right: 2%;
    }
    @media (max-width: 1061px) {
      right: 0;
    }
  }
  .main_four_slider .slick-prev {
    background: url(img/three_img/left.png) no-repeat;
    left: 6%;
    z-index: 2;
    position: absolute;
    top: 50%;
    width: 27px;
    height: 19px;
    @media (max-width: 1220px) {
      left: 4%;
    }
    @media (max-width: 1120px) {
      left: 2%;
    }
    @media (max-width: 1061px) {
      left: 0;
    }
  }
  .slick-prev:before,
  .slick-next:before {
    content: ' ' !important;
  }
  .main_four_slider .slick-prev:hover, .main_four_slider .slick-next:hover, .main_four_slider .slick-prev:focus, .main_four_slider .slick-next:focus{
    opacity: 0.3;
  }
  .text_h1_p {
    text-align: center;
    p {
      @include fonts_h6($font_four_p, #3D4F9F, 0.1rem, uppercase);
      line-height: 12px;
      padding-top: 104px;
    }
    h1 {
      @include fonts_h1($font_four_h1, #3D4F9F);
      line-height: 30px;
      padding-bottom: 92px;
      margin: 0;
    }
  }

  .container_all {
    background-color: #fff;
    max-width: 960px;
    margin: 0 auto;
    .img_and_grid {
      display: grid;
      grid-template: 1fr / repeat(2, 1fr);
      padding: 63px 35px;
      @media (max-width: 768px) {
        display: grid;
        row-gap: 10px;
        grid-template: 57% 43%/ 1fr;
        justify-items: center;
        align-content: space-evenly;
        padding: 30px;
      }
      .img_grid {
        display: grid;
        grid-template-columns: 1fr 140px;
        gap: 12px;
        margin: 0 67px 0 0;
        @media (max-width: 768px) {
          margin: 0 0 60px 0;
        }
        .gallery_item {
          position: relative;
          img {
            max-width: 100%;
            height: 100%;
          }
          .circle_search {
            display: none;
          }
          &:hover {
            > .one {
              @extend %circle_search;
              top: 33%;
              left: 36%;
              @media (max-width: 786px) {
                top: 37%;
                left: 41%
              }
            }
            > .two {
              @extend %circle_search;
              top: 26px;
              left: 37px;
            }
            > .three {
              @extend %circle_search;
              top: 36px;
              left: 37px;
            }
          }
        }
        .big {
          display: grid;
          grid-row: span 2;
        }
      }

      .main_grid {
        h1 {
          @include fonts_h1($font_main_h1, #3D4F9F);
          line-height: 45px;
        }

        p {
          @include part_one_two($font_main_p, 27px, 0.03em);
          color: #8D96BD;
          margin: 32px 0 31px 0;
        }

        .main_blue_btn {
          color: #3A79FF;
          background-color: #D2E1FF;
          padding: 13px 15px;
        }

        .main_white_btn {
          color: #A6B6DA;
          background-color: #FFFFFF;
          padding: 13px 15px;
          margin: 0 0 0 -4px;
        }
      }
    }
  }
}

.main_five{
  background: linear-gradient(to bottom, #EAF0FF, #F6F9FF);
  @media (max-width: 768px) {
    padding: 0 0 0 30px;
  }

  .container_quotes {
    display: grid;
    grid-template: 1fr/repeat(2, 1fr);
    align-items: center;
    @media (max-width: 768px) {
      display: grid;
      grid-template: 48% 37% /1fr;
      align-items: center;
      padding: 0 50px;
    }

    .customers_quotes {
      width: 333px;
      margin: 0 auto;

      h6 {
        @include fonts_h6($font_main_p, #3D4F9F, 0.1em, uppercase);
        line-height: 12px;
        margin: 146px 0 31px 35px;
        @media (max-width: 768px) {
          margin: 0 0 31px 0;
        }
      }
      h1 {
        font: 400 30px Quicsand, sans-serif;
        color: #3D4F9F;
        line-height: 45px;
        margin: 0 0 0 35px;
        @media (max-width: 768px) {
          margin: 0;
        }
      }
      p {
        @include fonts_p($font_p, #3D4F9F);
        line-height: 23px;
        margin: 14px 0 146px 35px;
        @media (max-width: 768px) {
          margin: 14px 0 80px 0;
        }
      }
    }

    .quotes_cont{
      max-width: 700px;
      margin: 40px auto 110px;
      @media (min-width: 1405px) {
        max-width: 1000px;
      }
      @media (max-width: 1023px) {
        max-width: 40vw;
      }
      @media (max-width: 768px) {
        margin: 0 auto;
        padding: 0;
        max-width: 75vw;
      }
    .quotes_slider {


      .quotes {
        max-width: 423px;

        @media (max-width: 768px) {
          margin: 0 auto;
          max-width: 450px;
        }
        p {
          background-color: #fff;
          padding: 41px 70px 53px 50px;
          @include part_one_two($font_main_p, 24px, 0.03em);
          color: #676F95;
          margin: 0;
        }

        .quote_foto {
          margin: -33px auto 47px auto;
          @media (max-width: 768px) {
            margin: -33px auto 30px auto;
          }
        }
      }

      //.slick-slide.slick-active.slick-current{
      //  @media (max-width: 1024px) {
      //    width: 475px !important;
      //  }
      // }

      .slick-slide {
        opacity: 0.5;
        padding: 0 0 0 0 !important;
      }

      .slick-active.slick-current {
        opacity: 1;
        //@media (max-width: 1024px) {
        //  margin: 0 40px 0 0;
        //}
      }

      ul.slick-dots {
        position: relative;
        bottom: 0;
        left: 0;
        @media (max-width: 768px) {
          margin: 0 0 40px 0;
        }
      }
    }
    }
  }
}

.main_six {

  .container_six {
    max-width: 743px;
    margin: 0 auto;
    padding: 145px 0;
    @media (max-width: 768px) {
      padding: 0 30px 80px 30px;
    }

    .asked_question {
      text-align: center;

      h6 {
        @include fonts_h6($font_four_p, #3D4F9F, 0.1em, uppercase);
        @media (max-width: 768px) {
          margin: 100px 0 0 0;
        }
      }

      h1 {
        @include fonts_h1($font_p_part, #3D4F9F);
        margin: 20px 0 48px 0;
        font-weight: bold;
      }
    }

  }
  .spoler{
    max-width: 750px;
    margin: 0 auto;
  }
  .spoler_item{
    position: relative;
  }
  .spoler_item:after{
    content: '';
    width: 743px;
    height: 1px;
    background-color: #D8E3FE;
    position: absolute;
    bottom: -20px;
    left: 0;
    @media (min-width: 729px) and (max-width: 768px) {
      width: 675px;
    }
    @media (min-width: 622px) and (max-width: 728px) {
      width: 575px;
    }
    @media (min-width: 540px) and (max-width: 621px) {
      width: 500px;
    }
    @media (min-width: 470px) and (max-width: 539px) {
      width: 450px;
    }
    @media (min-width: 425px) and (max-width: 469px) {
      width: 390px;
    }
  }
  .spoler_title{
    position: relative;
    padding: 0 0 0 30px;
    cursor: pointer;
  }
  .spoler_title.active h2{
    color: #495274;
    font-weight: 600;
  }
  .spoler_title.active:before,
  .spoler_title.active:after{
    background-color: #495274;
  }
  .spoler_title.active:before{
    transform: rotate(-46deg);
  }
  .spoler_title.active:after{
    transform: rotate(46deg);
  }

  .spoler_title:before,
  .spoler_title:after{
    content: '';
    width: 10px;
    height: 2px;
    background-color: #8E96B7;
    position: absolute;
    top: 10px;
    transition: all 0.3s ease 0s;
  }
  .spoler_title:before{
    left: 0;
    transform: rotate(46deg);
  }
  .spoler_title:after{
    left: 6px;
    transform: rotate(-46deg);
  }
  .spoler_text{
    display: none;
  }
  .spoler_item{
    margin: 0 0 40px 0;
    h2{
      font: 500 15px Quicksand, sans-serif;
      line-height: 19px;
      letter-spacing: 0.03em;
      color: #8E96B7;
    }
    p{
      font: normal 14px Roboto, sans-serif;
      line-height: 27px;
      letter-spacing: 0.03em;
      color: #8E96B7;
      margin: 16px 0 0 45px;
    }
  }
  .spoler_grid{
    display: grid;
    grid-template: 1fr/65% 35%;
    align-items: center;
    @media (max-width: 768px) {
      display: grid;
      grid-template: 1fr 1fr /1fr;
      justify-items: start;
    }
  }
  .drop_button{
    padding: 13px 15px;
    background-color: #E8ECF4;
    color: #7382A3;
    font: 500 13px Quicksand, sans-serif;
    line-height: 16px;
    margin: 0 0 0 60px;
    @media (max-width: 768px) {
      margin: 0 0 0 45px;
    }
  }
  .show {display:block;}
}





.main_seven{
  background: linear-gradient(to left, #6888FF, #5E80FF);
  .container_fon_img{
    background: url("img/clouds.png") no-repeat;
    margin: 0 auto;
    .main_seven_content{
      text-align: center;
      max-width: 700px;
      margin: 0 auto;
      padding: 91px 0;
      @media (max-width: 451px){
        max-width: 300px;
      }
      h6{
        @include fonts_h6($font_four_p, #fff, 0, uppercase);
        margin: 0 0 16px 0;
      }
      h1{
        @include fonts_h1($font_h1_part, #fff);
        @media (max-width: 425px){
          font-size: 35px;
        }
        span{
          font-weight: bold;
        }
      }
      p{
        @include fonts_p($font_main_p, #fff);
        margin: 30px 0 55px 0;
        line-height: 29px;
        letter-spacing: 0.03em;
        @media (max-width: 425px){
          font-size: 10px;
        }
      }
      .main_seven_white{
        color: #565F82;
        background-color: #fff;
        padding: 13px 17px;
      }
      .main_seven_transparent{
        color: #fff;
        background-color: transparent;
        padding: 12px 9px;
        border: 1px solid;
        margin: 0 0 0 -4px;
      }
    }
  }
}

.main_eight{
  background-color: #FCFDFF;
  border-bottom: 1px solid #D8E3FE;
  .container_all{
    @media (max-width: 1024px) {
     margin: 0 30px;
    }
    .main_eight_columns{
      display: grid;
      grid-template-columns: minmax(408px, 1fr) 1fr;
      justify-items: end;
      padding: 118px 0;
      align-items: center;
      @media (max-width: 768px) {
        grid-template-columns: minmax(408px, 1fr);
        justify-items: start;
      }
      .main_eight_columns_text{
        h1{
          @include fonts_h1($font_four_h1, #3D4F9F);
          line-height: 22px;
          margin: 0 0 18px 0;
          font-weight: bold;
        }
        p{
          @include part_one_two($font_main_p, 27px, 0.03em);
          color: #8D96BD;
        }
      }
      .main_eight_columns_form{
        @media (max-width: 921px){
          margin: 0 0 0 80px;
        }
        @media (max-width: 921px){
          margin: 0 0 0 0;
        }
        .email_eight{
          color: #7A85AD;
          background-color: #EFEFF7;
          padding: 15px 60px 15px 23px;
          border-radius: 5px;
        }
        .save_me{
          color: #fff;
          background-color: #4D6CE1;
          padding: 15px 62px;
          margin: 0 0 0 9px;
          border-radius: 5px;
          @media (max-width: 921px){
            margin: 0;
          }
          @media (max-width: 425px){
            margin: 10px 0 0 0;
          }
        }
      }
    }
  }
}

.main_nine{
  padding: 40px 110px;
  @media (max-width: 425px){
    padding: 20px 0;
    margin: 0 0 0 30px;
  }
  .last_text{
    @include fonts_p($font_main_p, #AEB8D0);
  }
}
